@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<meta name="keywords" content="@ViewBag.Meta_Keywords" />
	<meta name="description" content="@ViewBag.Meta_Description" />
    <title>@ViewBag.Title</title>
	
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
