@{
    ViewBag.Title = "Тестове завдання";
	ViewBag.Meta_Keywords = "asp.net,button,employee,javascript,sql,table,завдання,працівник,професія,прізвище,таблиця,тест,тестове,форма,ім’я";
	ViewBag.Meta_Description = "Ця сторінка - виконане тестове завдання. На ній розташована форма з полями: прізвище, ім’я, професія. Нижче - таблиця (table) з працівниками. Працівник (employee) додається до таблиці двома кнопками (button) - з використанням ASP.NET та JavaScript. Також сторінка містить приклад SQL-запиту.";
}

<h2>Index</h2>


