body {
	background-color: #fd0;
	font-family: Arial, sans-serif;
}

.centered, 
h1, h2, h3, h4 {
	text-align: center;
}


form {
	position: relative;
	width: 350px;
	margin: auto;
	background-color: cyan;
	border: 1px solid blue;
	border-radius: 10px;
	padding-bottom: 1px;
}

fieldset {
	border-radius: 5px;
	margin: 5px;
}

form .left-column {
	display: inline-block;
	width: 120px;
	text-align: right;
	margin-right: 15px;
}

.validation-summary-valid {
	display: none;
}

.validation-summary-errors {
	display: block;
	width: inherit;
	border-radius: 10px;
	background-color: #faa;
	position: absolute;
	top: 250px;
	left: 50px;
	border: 2px solid red;
	color: maroon;
	font-weight: 600;
	/*box-shadow: 10px 10px 20px #f55;*/
}

	.validation-summary-errors ul {
		list-style: none;
		margin: 0;
		padding: 5px 5px 5px 20px;
	}

.input-validation-error {
	background: #faa;
}

table#registered {
	border: 2px solid black;
	border-collapse: collapse;
	margin: auto;
}

	table#registered thead {
		border: 2px solid black;
	}

	table#registered td,
	table#registered th {
		border: 1px solid black;
		padding: 0 5px;
	}

	table#registered th {
		text-align: center;
	}

	table#registered thead {
		background-color: #aee;
	}

	table#registered tbody tr:nth-child(2n+1) {
		background-color: #fc0;
	}

	table#registered tbody tr:nth-child(2n) {
		background-color: #fe0;
	}
